html, body {
    text-align: center;
}
.questionArea {
    font-size: 120%;
}
.answer, .no_answer {
    font-size: 120%;
    margin: 50px auto;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.hide {
    display: none;
}
